@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&family=Teko&display=swap');

// variables
@primary-color: #eef6fb;
@border: 5px solid white;
@primary-font: 'Montserrat', sans-serif;
@secondary-font: 'Teko', sans-serif;
@accent-color: #5fb0e8;

// mixins
.border-radius(@radius) {
  border-radius: @radius;
}

.flex-center {
  .d-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

// styles
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: @primary-color;
  font-family: @primary-font;
  font-weight: 400;
}

p {
  font-size: 1.5rem;
}

h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}

h3 {
  font-family: @secondary-font;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.display-1 {
  font-size: 3rem;
}

.display-2 {
  font-size: 2rem;
}

.flex-body {
  .flex-center;
}

.border {
  border: @border;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  .border-radius(15px);
  margin: 1rem 0;
}

.border-top {
  border-top: @border;
}

.cities {
  .d-flex;
  margin: 2rem 0;
}

.current-forecast {
  .d-flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.current-forecast-text {
  .d-flex;
  flex-direction: column;
  padding: 0 1.5rem;
  width: 50%;
}

.card {
  padding: 2rem;
}

.forecast {
  border-top: @border;
  .d-flex;
  .flex-wrap;

  .card {
    width: 100%;

    &:nth-child(-n + 3) {
      border-bottom: @border;
    }
  }
}

.fw-bold {
  color: @accent-color;
  font-weight: 700;
}

.p-4 {
  padding: 2.5rem;
}

.city-header {
  margin: 0 0.75rem;
}

// responsiveness
@media screen and (min-width: 567px) {
  h2 {
    font-size: 1.75rem;
  }

  .city-header {
    margin: 0 1.5rem;
  }

  .forecast {
    .card {
      width: inherit;

      &:nth-child(-n + 3) {
        border-right: @border;
        border-bottom: none;
      }
    }
  }
}
